.Items {
  &.ready {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 3rem;
  }
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
  }
}
