@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;
  max-height: $numLines * $lineHeight + unquote("em");
}

@function dp($_dp) {
  @return (72 / 160) * $_dp + pt;
}

.Item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  text-align: center;
  height: fit-content;
  width: 25rem;
  padding: 2rem 1rem;
  box-shadow: 0 3px 10px 3px #ddd;
  border-radius: dp(2);
  background-color: #fff;
  & > img {
    height: auto;
    width: 18rem;
    object-fit: scale-down;
  }
  & > h3 {
    height: 2.7rem;
    margin-bottom: 2.5rem;
    @include line-clamp(6);
  }
  & > hr {
    width: 85%;
    opacity: 0.4;
    margin: 1rem 0;
  }

  .Item__content {
    // margin-top: 1rem;
  }

  .Item__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    padding: 0 2rem;
    & > button {
      background: none;
      border: none;
    }
    & svg {
      height: 1.5rem;
      width: 1.5rem;
      color: #47f;
    }
  }

  .Item__share {
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    justify-content: center;
    grid-gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    & > button {
      height: 2rem;
      width: 2rem;
      background: none;
      border: none;
      & > svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .Item {
    font-size: 3.4vw;
    width: 85vw;
    & > img {
      // height: 60vw;
      width: 60vw;
    }
    & > h3 {
      height: 2.7rem;
      @include line-clamp(6);
    }
    & > .Item__buttons {
      padding: 0 calc(2vw * 16 / 4.7);
    }
  }
}
